{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
