@import '@fontsource-variable/inter';
@import 'primeicons/primeicons.css';
@import 'tailwindcss';

@plugin 'tailwindcss-primeui';

@theme {
  --font-inter: 'Inter Variable';
  --spacing: calc(16 / 14 * 0.25rem);
  --text-base: 0.875rem;

  --color-bg: #1e1f22;
  --color-divider: #393b40;
  --color-active: #70aeff;
  --color-inactive: #5f93d6;
}

@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply font-inter bg-bg h-svh overflow-hidden text-gray-100;
  }

  app-root {
    @apply flex h-svh w-svw flex-col;
  }
}

.editor-container {
  @apply h-full!;
}

.loader {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #3ed339 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
